*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
overflow-x:hidden;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
position:fixed;
width:100%;
background:rgba(0,0,0,.4);
backdrop-filter:blur(10px);
z-index:1000;
}

.logo{
font-size:30px;
font-weight:bold;
color:#38bdf8;
}

nav ul{
display:flex;
list-style:none;
gap:25px;
}

nav a{
text-decoration:none;
color:white;
}

.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
padding:0 10%;
gap:80px;
background:linear-gradient(
135deg,
#2563eb,
#7c3aed,
#06b6d4
);
}

.profile-image{
width:300px;
height:300px;
border-radius:50%;
border:6px solid white;
object-fit:cover;
box-shadow:0 0 40px rgba(255,255,255,.4);
}

.hero-right h1{
font-size:60px;
}

.hero-right span{
color:#facc15;
}

.hero-right p{
margin:20px 0;
line-height:1.7;
max-width:600px;
}

.btn{
padding:12px 25px;
background:white;
color:#2563eb;
border-radius:30px;
text-decoration:none;
font-weight:bold;
margin-right:15px;
}

.secondary{
background:transparent;
border:2px solid white;
color:white;
}

.social-icons{
margin-top:25px;
}

.social-icons a{
color:white;
font-size:28px;
margin-right:15px;
}

section{
padding:100px 10%;
}

h2{
text-align:center;
margin-bottom:50px;
font-size:40px;
}

.glass-card{
background:rgba(255,255,255,.1);
backdrop-filter:blur(12px);
padding:40px;
border-radius:20px;
}

.stats{
display:grid;
grid-template-columns:repeat(4,1fr);
margin-top:30px;
text-align:center;
}

.stats h3{
color:#38bdf8;
font-size:32px;
}

.skills-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:25px;
}

.skill-card{
background:#1e293b;
padding:25px;
text-align:center;
border-radius:15px;
transition:.3s;
}

.skill-card:hover{
transform:translateY(-10px);
background:#2563eb;
}

.timeline-item{
background:#1e293b;
padding:30px;
border-radius:20px;
}

.timeline-item ul{
padding-left:20px;
margin-top:20px;
}

.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;
}

.project-card{
background:#1e293b;
padding:30px;
border-radius:20px;
transition:.3s;
}

.project-card:hover{
transform:scale(1.05);
}

form{
display:flex;
flex-direction:column;
gap:15px;
max-width:600px;
margin:auto;
}

input,textarea{
padding:15px;
border:none;
border-radius:10px;
}

button{
padding:15px;
background:#2563eb;
color:white;
border:none;
border-radius:10px;
cursor:pointer;
}

footer{
text-align:center;
padding:30px;
background:#020617;
}

@media(max-width:768px){

.hero{
flex-direction:column;
text-align:center;
padding-top:120px;
}

.profile-image{
width:220px;
height:220px;
}

.hero-right h1{
font-size:40px;
}

.stats{
grid-template-columns:repeat(2,1fr);
gap:20px;
}
}
